* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 1em auto;
}

.mainContainer {
  background-color: #1e293b;
  border: 2px solid #334155;

  width: min(95%, 900px);
  min-height: 70vh;

  margin: 2rem auto;
  padding: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

#expenseName,
#amountEntry,
#selectCatagory,
#dateField {
  padding: 0.6rem;
  border: 1px solid black;
  border-radius: 4px;
  font-family: monospace;
}

#expenseName {
  flex: 2;
  min-width: 180px;
}

#amountEntry,
#selectCatagory,
#dateField {
  flex: 1;
  min-width: 120px;
}

#submitBtn {
  width: 120px;
  height: 40px;
  cursor: pointer;
  border: 1px solid black;
}

#submitBtn:hover {
  background-color: rgb(169, 255, 120);
}

#totalExpense {
  width: 100%;
  margin: 1rem 0;
}

.expenseList {
  width: 100%;
  margin-top: 1rem;
}

#emptyState {
  margin: 0.5rem;
  text-align: center;
}

.rowContainer {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.expenseHeaderRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

  width: 100%;

  padding: 1rem;
  margin-bottom: 5px;

  background: white;
  border: 2px solid black;

  text-align: center;
  font-weight: bold;
}



.expenseRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

  width: 100%;

  padding: 1rem;

  background: white;
  border: 1px solid black;

  text-align: center;
}

.expenseRow div,
.expenseHeaderRow div {
  overflow: hidden;
  text-overflow: ellipsis;

    background-color: #f8fafc;
  color: black;
}

.editBtn,
.delBtn {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  min-width: 0;
}

.editBtn:hover {
  background-color: rgb(161, 197, 255);
}

.delBtn:hover {
  background-color: rgb(255, 55, 55);
}

@media (max-width: 768px) {
  .mainContainer {
    width: 95%;
    padding: 0.8rem;
    margin: 1rem auto;
  }

  form {
    flex-direction: column;
    align-items: stretch;
  }

  #expenseName,
  #amountEntry,
  #selectCatagory,
  #dateField,
  #submitBtn {
    width: 100%;
  }

  #totalExpense {
    text-align: center;
  }

  .expenseHeaderRow,
  .expenseRow {
    padding: 0.4rem;
    font-size: 0.7rem;
  }

  .editBtn,
  .delBtn {
    width: 100%;
    font-size: 0.6rem;
    padding: 2px;
  }
}

/* VERY SMALL PHONES */

@media (max-width: 480px) {
  .expenseHeaderRow,
  .expenseRow {
    font-size: 0.6rem;
    gap: 2px;
  }

  .editBtn,
  .delBtn {
    font-size: 0.5rem;
  }
}